*{
    margin: 0;
    padding: 0;
}
img{
    height: 200px;
    width: 200px;
    margin: 5px;
}
.btn{
    margin: 5%;
}

/*breakpoints >480, 481-1023, 1024< */

@media only screen and (max-width: 480px){
    .sm {
        width: 39%;
    }
}
@media only screen and (min-width: 481px){
    .med {
        width: 20%;
    }
}
@media only screen and (min-width: 1024px){
    .lg {
        width: 20%;
    }
    .btn {
        margin: 5% 12%;
    }
}

